@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glow-effect {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.7); 
  }
  
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.blue_gradient_border {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent relative;
}

.blue_gradient_border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #2563eb, #0ea5e9);
  transform-origin: center;
  transition: transform 0.2s ease;
  transform: scaleX(0);
}

.blue_gradient_border:hover::after {
  transform: scaleX(1);
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.body_text {
  @apply mt-5 text-3xl font-extrabold leading-[1.15] text-black sm:text-3xl;
}

.header_guide {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-indigo-800 sm:text-2xl;
}

.detail_text {
  @apply mt-5 text-3xl font-medium leading-[1.25] text-gray-900 sm:text-xl;
}
@keyframes underlineDisappear {
  0% {
    width: 40px;
    height: 6px;
  }
  50% {
    width: 300px;
    height: 3px; 
  }
  100% {
    width: 600px;
    height: 0px;
    opacity: 0;
  }
}

.animate-underline-disappear {
  animation: underlineDisappear 4s ease forwards;
}
